.Game {
  width: 600px;
  height: 650px;
  border: #181818 3px solid;
  border-radius: 10px;
  margin: 20px auto;
  background: #4d7eb6;
  position: relative;
}
.game-map {
  display: flex;
  flex-wrap: wrap;
  width: 562px;
  margin: 15px auto;
  border: 2px solid black;
  padding-left: 1px;
  padding-top: 1px;
  background: black;
  border-radius: 2px;
}
.game-button-container {
  padding-left: 20px;
  padding-right: 20px;
} 
.game-next-button {
  width: 100px;
  height: 30px;
  background: none;
  border-radius: 5px;
  border: 2px solid #3cffec;
  box-shadow: 0px 0px 2px 1px black;
  cursor: pointer;
  color: black;
  font-weight: bold;
  transition: background .3s, color .3s;
  -moz-transition: background .3s, color .3s;
  -o-transition: background .3s, color .3s;
  -webkit-transition: background .3s, color .3s;
  outline: none;
  text-transform: uppercase;
  color: #00ffe5;
}
.game-next-button:hover {
  background: #3fd1c2;
  color: black;
}