.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-block {
  height: 15px;
  width: 15px;
  border: 1px solid black;
}
.game-block-alive {
  background-color: #73a9d7;
}
.game-block-dead {
  background-color: #616161;
}